<section class="section is-medium main-section p-3 has-bg-whitesmoke">
  <div class="columns is-centered">
    <div class="column is-10 mt-4">
      <button class="button music-btn is-xsmall is-inline is-contrail">
        Create a post
      </button>

      <p
        class="has-bg-blue is-titillium-bold is-medium is-inline has-text-black"
      >
        &#160 MUSIC &#160
      </p>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-10">
      {{!-- {{posts}}     --}}
      <div class="modal">
        <div class="modal-background">
          <div class="modal-content">
            <form class="new-post-form">
              <div>
                <label for="title">Title</label>
                <input type="text" id="title" name="title" />
              </div>
              <div>
                <label for="content">Content</label>
                <input id="content" name="content" />
              </div>
              <button type="submit" class="btn">Create</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<script src="/javascript/add-post.js"></script>