<section class='section is-medium main-section p-3 has-bg-whitesmoke'>
  <div class='columns is-centered'>
    <div class='column is-10 mt-4'>
      <button class='button music-post-btn is-xsmall is-inline is-contrail'>
        Create a post
      </button>

      <p
        class='has-bg-blue is-titillium-bold is-medium is-inline has-text-black'
      >
        &#160 MUSIC &#160
      </p>
    </div>
  </div>

  <div class='columns is-centered'>
    <div class='column is-10'>
      {{!-- {{posts}}     --}}
      {{#if music}}
        <h1>MUSIC SELECTED</h1>
      {{/if}}

      {{#if movies}}
        <h1>MOVIES SELECTED </h1>
      {{/if}}

      {{#if games}}
        <h1>GAMES SELECTED</h1>
      {{/if}}

    </div>
  </div>

</section>