<section class="section is-medium main-section p-3 has-background-white">
  <div class="columns is-centered">
    <div class="column is-10 my-3">
      <p
        class="has-bg-purple is-titillium-bold is-small is-inline has-text-black"
      >
        YOUR PROFILE
      </p>

      <p class="is-contrail is-inline is-xsmall has-text-grey">
        &#160
        {{username}}
      </p>
    </div>
  </div>

  <div class="columns is-centered">
    <div
      class="column is-two-fifths post-columns mr-6 has-background-grey-lighter"
    >
      <p class="is-titillium-bold has-text-purple has-text-centered">
        YOUR POSTS
        {{posts}}
      </p>

    </div>

    <div class="column is-two-fifths post-columns has-background-grey-lighter">
      <p class="is-titillium-bold has-text-purple has-text-centered">
        YOUR COMMENTS
        {{comments}}
      </p>

    </div>
  </div>

</section>