<section class="section is-medium p-3 has-background-white">
  <div class="columns is-centered">
    <div class="column is-10 my-3">
      <p
        class="has-bg-purple is-titillium-bold is-small is-inline has-text-black"
      >
        &#160 YOUR PROFILE &#160
      </p>

      <p class="is-contrail is-inline is-xsmall has-text-grey">
        &#160
        {{user.username}}
      </p>
    </div>
  </div>

  
  <div class="columns is-centered">
    <div
      class="column is-two-fifths post-columns mr-6 has-background-grey-lighter"
    >
      <p class="is-titillium-bold has-text-purple has-text-centered">
        YOUR POSTS
      {{#if user.posts.length}}
      <div class="columns is-centered">
        {{#each user.posts as |post|}}
        {{> post-info post}}
        <button class='button is-danger is-light column post-delete-btn' data-id="post-{{post.id}}">Delete</button>
        {{/each}}
      </p>
      </div>
      {{/if}}
    </div>


    <div class="column is-two-fifths post-columns has-background-grey-lighter">
      <p class="is-titillium-bold has-text-purple has-text-centered">
        YOUR COMMENTS
        {{#if user.comments.length}}
        {{#each user.comments as |comment|}}
        {{> comments comment}}
        <button class="comment-delete-btn" data-id="delete-{{comment.id}}">Delete</button>
        {{/each}}
      </p>
      {{/if}}
    </div>

  </div>



</section>
<script src="/javascript/delete.js"></script>
