<!-- add main section (bg is color gradient img)-->
<section class="section main-section p-3 columns">
  <!-- include div with h tags for "Explore Share Connect", each word on a different line and all white, font Titilium Web Bold size 42-->
  <div class="p-3 pl-6 column is-8 is-8-touch">
    <p class="is-titillium-bold has-text-white hero-text">
      Explore
    </p>
    <p class="is-titillium-bold has-text-white hero-text">
      Share
    </p>
    <p class="is-titillium-bold has-text-white hero-text">
      Connect
    </p>
    <!-- include smaller h tag for finishing tag line "with thousands of movies, video games, and friends" in contrail one font size 14" -->
    <p class="is-contrail has-text-white is-medium hero-text-bottom">
      with thousands of albums, movies, video games, and friends.
    </p>
    <!-- indlude div with p tag, Titillium Web regular, size 12, for website purpose "Explore new and old favorites, share your thoughts and insights, and connected with other fans across the world. Select a media to explore and view existing posts, or get started for free today to share your own thoughts and engage with others'." -->
    <p class="is-titillium-reg has-text-blue is-small pb-3">
      Explore new and old favorites, share your thoughts and insights, and
      connected with other fans across the world. Select a media to explore and
      view existing posts, or get started for free today to share your own
      thoughts and engage with others'.
    </p>
  </div>
  <!-- include div tag for pictures of cover art from one movie, album, and video game, shaddowbox upper left for both, transparency at 50%, color black, 90% angle, blur radius -->
  <div>
    <img
      src="./assets/images/Everything_Everywhere_All_at_Once.jpeg"
      alt=""
      class="image movie-poster box-shaddow"
    />
    <img
      src="./assets/images/Kendrick_Lamar_-_Damn.png"
      alt=""
      class="image album-cover box-shaddow"
    />
    <img
      src="./assets/images/The_Legend_of_Zelda_Breath_of_the_Wild.jpeg"
      alt=""
      class="image game-cover box-shaddow"
    />
  </div>
</section>