/* TODO */
:root {
  --blue: #3d85c6;
  --pink: #ce0ace;
  --green: #3fc20e;
  --dark-grey: #595959;
}

.is-contrail {
  font-family: "Contrail One", cursive;
}

.is-titillium-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  text-decoration: underline;
}

.is-titillium-reg {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

.has-bg-blue {
  background-color: var(--blue);
}

.has-bg-pink {
  background-color: var(--pink);
}

.has-bg-green {
  background-color: var(--green);
}

.has-text-blue {
  color: var(--blue);
}

.tab {
  display: inline-block;
  margin-left: 10px;
}
